/*1920-312-312=1296*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


*,
*::before,
*::after {
    box-sizing: border-box;
 
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.5;
    font-size:24px;
}


.container {
    max-width: 1296px;
}

.bg-main{
    background-color:#AA0601;
}

.nav{
    font-size: 20px;

}

.nav-item{
    text-align: center;
    padding: 0;
}

/*flex*/

.d-flex{
    display: flex;
}


@media (max-width: 768px) {
    /*平板*/
    .container {
        max-width: 720px;
    }
}


@media (max-width: 576px) {
    /*手機*/
    .container {
        max-width: 375px;
    }
}